Body{
	background-color: brown;
}

.h1{
	text-color: blue;
}

.PH_ads{
	display: inline-block;
    position: relative;
	width: 20%;
	background-color: lightgrey;
}

.PH_main_content{
	display: inline-block;
    position: relative;
	width: 59%;
	background-color: lightgrey;
}

.PH_modules_list{
	display: inline-block;
    position: relative;
	width: 20%;
	background-color: lightgrey;
}