Body{
	background-color: brown;
}
* {
    box-sizing: border-box;
}

.h1{
	text-color: blue;
}
.body_content{
	box-sizing: border-box;
	height: 1000px;
}
.PH_ads{
	display: inline-block;
    position: relative;
	width: 20%;
	height: 100%;
	background-color: lightgrey;
}

.PH_main_content{
	display: inline-block;
    position: relative;
	width: 59%;
	height: 100%;
	background-color: lightgrey;
}

.PH_modules_list{
	display: inline-block;
    position: relative;
	width: 20%;
	height: 100%;
	background-color: lightgrey;
}
.navbar{
		width: 100%;
	background-color: lightgrey;
}

.navbarmenu{
	box-sizing: border-box;
    list-style-type: none;
	height: 40px;
    margin: 0px;
    padding: 0px 0px;
	margin: 0px 0px 16px 40%;
}
.navbarmenu ul{
box-sizing: border-box;
margin: 0px 0px;
 padding: 9.4px;
}
.navbarmenu li{
	display: inline;
	align: center;
}
.navbarmenu li a{
	color: white;
	text-align: center;
	padding: 11px 5px;
	text-decoration: none;
}
li a:hover {
    background-color: #111;
}
